.sidebar-menu {
    font-size: 16px;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    /* Bo góc */
}

.checkmark.checked {
    background-color: #008000;
    /* Màu nền khi được chọn */
    border: 2px solid #008000;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input[type="checkbox"]:checked+.checkmark:after {
    display: block;
}

.checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.field-search {
    padding: 14px 0;
    border-top: 1px solid rgba(189, 194, 210);
    /* Border top color */
    border-bottom: 1px solid rgba(189, 194, 210, 0.5);
    /* Border bottom color */
}

.three-dots {
    border-left: 1px solid rgba(189, 194, 210, 0.5);
    padding-top: 5px;
}

.bg-item-checked {
    background-color: rgba(26, 102, 52, 0.7);
}

.text-question {
    width: 670px;
    /* Độ rộng của div */
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis;
    /* Thêm dấu "..." khi vượt quá */
}

.text-group {
    max-height: 100px;
    /* Định chiều cao tối đa */
    overflow: hidden;
    /* Ẩn nội dung vượt quá chiều cao */
    position: relative;
}

.text-group:after {
    content: '...';
    /* Thêm dấu ba chấm */
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding: 0 5px;
    /* Thêm khoảng cách giữa dấu chấm và nội dung */
}

@keyframes widthAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-width {
    animation: widthAnimation 0.2s ease-out;
}