.sidebar-menu {
    font-size: 16px;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #363636;
    border-radius: 5px;
    /* Bo góc */
}

.item-tabHeader{
    box-shadow: rgba(156, 156, 165, 0.2) 0px 5px 20px 0px;
}

.item-tabHeader:hover{
    border: 1px solid #008000;
}

.item-tabHeader:hover>.flex label span.checkmark{
    border: 1px solid #008000;
    background-color: #008000;
}

.checkmark.checked {
    background-color: #008000;
    /* Màu nền khi được chọn */
    border: 1px solid #008000;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input[type="checkbox"]:checked+.checkmark:after {
    display: block;
}

.checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.field-search {
    padding: 10px 0;
    border-top: 1px solid rgba(189, 194, 210);
    /* Border top color */
    border-bottom: 1px solid rgba(189, 194, 210, 0.5);
    /* Border bottom color */
}

.three-dots {
    border-left: 1px solid rgba(189, 194, 210, 0.5);
    padding-top: 5px;
}

.bg-item-checked {
    background-color: rgba(26, 102, 52, 0.7);
}

.text-question {
    max-width: 670px;
    /* Độ rộng của div */
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis;
    /* Thêm dấu "..." khi vượt quá */
}

.text-type {
    max-width: 600px;
    /* Độ rộng của div */
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis;
    /* Thêm dấu "..." khi vượt quá */
}

.text-group {
    max-width: 250px;
    /* Độ rộng của div */
    white-space: initial;
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis;
    max-height: 60px;
    line-height: 28px;
    /* Thêm dấu "..." khi vượt quá */
}


@keyframes widthAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-width {
    animation: widthAnimation 0.3s ease-out;
}

.div1 {
    max-height: 100px; /* Đặt chiều cao tối đa ở đây */
    overflow-y: auto; /* Cho phép nội dung tràn dòng và cuộn */
}

.status-message {
    transform: translateX(-50%);
    color: white;
    display: flex;
    position: absolute;
    align-items: center;
    left: 230px;
    gap: 8px;
    animation: slideInFromBottom 0.4s ease-out forwards, fadeOut 0.7s ease-in forwards 0.5s;
    z-index: 10;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        bottom: 0;
    }
    100% {
        opacity: 1;
        bottom: 70px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button-setting{
    box-shadow: 1px 3px 6px 1px rgba(143, 155, 166, 0.2);
}

.box-display-eachpage:hover > div path {
    fill: white;
}

.box-display-eachpage:hover > div {
    color: white;
}
