@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.shadow2 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.shadow3{
  box-shadow: rgba(156, 156, 165, 0.2) 0px 5px 20px 0px;
}

.shadow-blue{
  box-shadow: rgba(65, 179, 255, 0.4) 0px 7px 15px 0px;
}

.shadow4{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.shadow5{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A6634; 
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27994f; 
}
