body{
    padding: 0;
    margin: 0;
    background-color: #EDEFF3;
}

.body-matrix{
    width: 100vw;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-data{
    width: 90%;
    display: flex;
    height: 80vh;
    margin: auto;
}

.position-name-main{
    width: 300px;
    background-color: #d6e5dc;
    display: flex;
    flex-direction: column;
    position: relative;
}

.positionName{
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: #26282E;
}

.tab-header, .table-content, .header-table{
    display: flex;
    user-select: none;
}

.table-content{
    padding-left: 170px;
    height: 60px;
}

.header-table{
    justify-content: space-between;
    background-color: #d6e5dc;
    font-weight: 600;
}

.competence-name-main{
    width: 90vw;
    height: 80vh;
    position: relative;
}

.competenceName{
    width: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    position: relative;
    z-index: 100;
}

.competenceName input{
    border: 1px solid #EDEFF3;
    font-family: 'Mulish', sans-serif;
    background-color: #EDEFF3;
}

.competenceName input:hover{
    border: 1px solid rgba(26, 102, 52) !important;
}

.competenceName input:focus-within{
    border: 1px solid rgba(26, 102, 52) !important;
}

.competenceName span{
    width: 50%;
    font-weight: normal;
}

.content-all-column{
    width: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: calc(80vh - 49px);
    border-right: 1px solid rgba(219, 222, 231, 0);
}

.figure-title{
    font-weight: 600;
    margin: 0 auto;
    color: #5A6276;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.figure{
    height: 47px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
}

.figure input{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    border: 1px solid none;
    padding: auto 10px;
    text-align: center;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

.figure div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-add-ability{
    display: flex;
    gap: 5px;
    padding: 0 10px;
    color: #1A6634;
    cursor: pointer;
    user-select: none;
    height: 47px;
    font-weight: normal !important;
}

.btn-add-ability span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-between-position{
    height: 18px;
    width: 2px;
    background: #BDC2D2;
}

.box-diagonal-line{
    position: absolute;
    border: 1px dashed #000;
    transform: translate(-50%, -50%) rotate(13deg);
    display: block;
    width: 100%;
    right: 0;
    top: 50%;
    left: 50%;
}

.box-notify {
    position: absolute;
    bottom: 0;
    left: 10px;
    background-color: #1A6634;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
}

.show {
    opacity: 1;
    margin-bottom: 30px;
}
.header-table{
    position: relative;
}

.tab-header{
    height: 107px;
    top: -47px;
    position: absolute;
    max-width: 85%;
}

.header-table-fake{
    height: 60px;
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 10;
}

.item-compe{
    border-top: 1px solid rgba(26, 102, 52);
    border-left: 1px solid rgba(26, 102, 52);
}

.compe{
    text-align: center;
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.compe-cate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 46px;
    border-bottom: 1px solid rgba(26, 102, 52);
}

.compe-list-ability{
    display: flex;
    height: 60px;
    border-bottom: 1px solid rgba(26, 102, 52, 0.2);
}

.box-divide-title{
    background-color: #acc8b6; 
    position: relative;
    height: 60px;
}

.box-divide-title .title-nangluc{
    position: absolute; 
    top: 5px; 
    right: 20px; 
    font-weight: 600; 
    color: #5A6276
}

.box-divide-title .title-chucdanh{
    position: absolute; 
    bottom: 5px; 
    left: 20px; 
    font-weight: 600; 
    color: #5A6276
}

.list-item-position{
    right: 0;
    top: 120px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100% - 48px);
}

.item-position{
    width: 300px;
    display: flex;
    border-top: 1px solid rgba(26, 102, 52);
    border-left: 1px solid rgba(26, 102, 52);
    border-right: 1px solid rgba(26, 102, 52, 0.2);
    height: fit-content;
}

.department-name{
    width: 45px;
    rotate: -90deg;
    height: 20px;
    text-align: center;
    text-wrap: nowrap;
    margin: auto 0;
    font-weight: 600;
}

.btn-add-chucdanh{
    padding-left: 20px; 
    height: 60px;
    width: 88.5%;
    display: flex;
    justify-content: center;
}

.btn-add-chucdanh:hover, .btn-add-ability:hover{
    background-color: #e6fff0;
}

.btn-add{
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 1800px) {
    .positionName-particular{
        padding-left: 5px;
    }
    .department-name{
        width: 44px;
    }
}

@media screen and (max-width: 1600px) {
    .positionName-particular{
        padding-left: 8px;
    }
    .btn-add-chucdanh{
        width: 88%;
    }
    .department-name{
        width: 46px;
    }
}

@media screen and (max-width: 1300px) {
    .item-position{
        width: 291px;
    }
    .btn-add-chucdanh{
        width: 87.5%;
    }
    .department-name{
        width: 46px;
    }
    .box-diagonal-line{
        transform: translate(-50%, -50%) rotate(13deg);
    }
}

@media screen and (max-width: 1100px) {
    .item-position{
        width: 283px;
    }
    .btn-add-chucdanh{
        width: 87.2%;
    }
    .box-diagonal-line{
        transform: translate(-50%, -50%) rotate(14deg);
    }
}

.icon-i{
    position: absolute;
    right: 6px;
    top: 4px;
}
.positionid, .position-name{
    font-weight: 600 !important;
}

.position-name{
    max-width: 150px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}